<?xml version="1.0" encoding="utf-8"?>
<!--
https://go.microsoft.com/fwlink/?LinkID=208121.
-->
<Project>
  <PropertyGroup>
    <WebPublishMethod>Docker</WebPublishMethod>
    <PublishProvider>ContainerApp</PublishProvider>
    <ContainerResourceId>/subscriptions/9de7ded6-0ad3-43e6-87b8-17d93e3ff695/resourcegroups/gamelb/providers/Microsoft.ContainerRegistry/registries/GameLeaderboard20231019164917</ContainerResourceId>
    <ContainerResourceName>GameLeaderboard20231019164917</ContainerResourceName>
    <Subscription>Catherine Microsoft Demo Subscription</Subscription>
    <Subtype>ContainerRegistry</Subtype>
    <RegistryUrl>gameleaderboard20231019164917.azurecr.io</RegistryUrl>
    <DockerPublish>true</DockerPublish>
    <ContainerName>gameleaderboard</ContainerName>
    <EnvironmentName>GameLeaderboard-env-20231019163959</EnvironmentName>
    <SiteUrlToLaunchAfterPublish>https://gameleaderboard-app-202310191639.grayplant-0ffc4df7.eastus.azurecontainerapps.io</SiteUrlToLaunchAfterPublish>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <ResourceId>/subscriptions/9de7ded6-0ad3-43e6-87b8-17d93e3ff695/resourceGroups/gamelb/providers/Microsoft.App/containerApps/gameleaderboard-app-202310191639</ResourceId>
    <ResourceGroup>gamelb</ResourceGroup>
    <LaunchSiteAfterPublish>true</LaunchSiteAfterPublish>
    <_TargetId>AzureContainerAppLinux</_TargetId>
  </PropertyGroup>
</Project>